
body{
   display: flex;
   justify-content: center;
   margin-top: 30vh !important;
   background-color: rgb(247, 210, 161) !important;
}
.card{
    background-color: black !important;
    border-radius: 20px !important;
}
.card-title{
    color: gold !important;
}
.row{
    display: flex !important;    
}
#input{
    display: flex !important;
    width: 30% !important;
    margin-left: 13%;
    background-color: rgb(252, 184, 95);
}
#result{
    display: flex !important;
    width: 30% !important;
    margin-left: 15%;
    background-color: rgb(252, 184, 95);
}   
.currency{
   width: 45% !important;
   margin-top: 10% !important;
   margin-left: 3% !important;
   background-color: aquamarine !important;

}
.btn{
   padding: 10px !important;
   margin-left: 30%;
   border-radius: 10px !important;
}